.campground-input {
	border: none;
    background-color: transparent;
    animation: blink-empty 1s infinite;
    border-left: transparent solid 1px;
    margin:5px;
    color: #ebebeb;
    height: 70px;
    font-size: 70px;
}

@keyframes blink-empty {
  50% {border-left: 1px solid #ebebeb;}
}

.search-button {
	background: none;
	font-size: 40px;
}

.search-button:hover {
	background: none;
}

.responses {
    margin-top: 75px;
}

.search-result-img, .search-result-text{
    display: inline-block;
    margin: 10px;
}

.search-result-img {
    height: 60px;
    width: 60px;
    border-radius: 50px;
}

.loading-container {
  width: 100%;
  position: absolute;
  left: -80px;
}

.loading-container .indicator {
  height: 13px;
  width: 13px;
  background-color: #7697b5;
  border-radius: 100px;
  display: inline-block;
  position: absolute;
}

.loading-container .indicator-one {
  margin-left: 0px;
}

.loading-container .indicator-two {
  margin-left: 20px;
}

.loading-container .indicator-three {
  margin-left: 40px;
}

.loading-container .indicator-four {
  margin-left: 60px;
}

.loading-container .indicator-five {
  margin-left: 80px;
}

@keyframes indicator-animation {
  33% {
    margin-left: 80px;
  }
}

.loading-container .indicator-one, .loading-container .indicator-two, .loading-container .indicator-three, .loading-container .indicator-four {
      -webkit-animation: indicator-animation 2s infinite; /* Safari 4+ */
  -moz-animation:    indicator-animation 2s infinite; /* Fx 5+ */
  -o-animation:      indicator-animation 2s infinite; /* Opera 12+ */
  animation:         indicator-animation 2s infinite; /* IE 10+, Fx 29+ */
}